body{
    background:linear-gradient(45deg, #a7b663, #1a3bdd);
    background-size:cover;
    background-repeat: no-repeat;
    height: 150vh; /* Making the body height larger than the viewport to enable scrolling */
    margin: 0;
    font-family: Arial, sans-serif;
    background-position: center;
    }
*{
    font-family: 'popins','sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:pointer;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    

}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button i{
    width:220x;
}
 
 
.weather-icon{
    width: 170px;
    margin-top: 30px;
    

}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top:50px ;

}

.col{
    display: flex;
    text-align:left;
    align-items: center;
}
.col img{
    width: 40px;
    margin-right: 10px ;
}
.humidity , .Wind{
    font-size: 35px;
    
}


.error{
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
    display: none;
}
 

 

  /* Customizing the scrollbar */
  /* Webkit Browsers (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background:  #555 ;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background:linear-gradient(45deg, #fc466b, #3f5efb);
  }

  /* Firefox */
  body {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }

  /* IE and Edge */
  body::-ms-scrollbar {
    width: 50px;
  }

  body::-ms-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  body::-ms-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  body::-ms-scrollbar-thumb:hover {
    background: #555;
  }
